In [95]:
import pandas as pd
pd.set_option('display.max_rows', None)

In [96]:
# business data at LA level, number and per 1000
businesses_la = pd.read_csv("../data/scotland/businesses_LA.csv")
businesses_la.rename(columns={"local authority: district / unitary (as of April 2021)": "Local authority", "Total": "Number of businesses"}, inplace=True)

pop_est = pd.read_csv("../data/scotland/mid-year-pop-est-2020.csv")
pop_est.rename(columns={"All Ages": "All ages"}, inplace=True)

businesses_la = pd.merge(businesses_la, pop_est, left_on="Local authority", right_on="Area name")
businesses_la = businesses_la.loc[:, ["Local authority", "Area code", "Number of businesses", "All ages"]].copy()
businesses_la["Number of businesses"] = businesses_la["Number of businesses"].astype(int)
businesses_la["All ages"] = businesses_la["All ages"].str.replace(",", "").astype(int)
businesses_la["Businesses per 1000 people"] = ((businesses_la["Number of businesses"] / businesses_la["All ages"]) * 1000).astype(int)

businesses_la

,Local authority,Area code,Number of businesses,All ages,Businesses per 1000 people
0,Aberdeen City,S12000033,11140,229060,48
1,Aberdeenshire,S12000034,15355,260780,58
2,Angus,S12000041,4640,115820,40
3,Argyll and Bute,S12000035,4820,85430,56
4,City of Edinburgh,S12000036,23875,527620,45
5,Clackmannanshire,S12000005,1360,51290,26
6,Dumfries and Galloway,S12000006,7550,148290,50
7,Dundee City,S12000042,4830,148820,32
8,East Ayrshire,S12000008,4080,121600,33
9,East Dunbartonshire,S12000045,3415,108750,31
10,East Lothian,S12000010,3745,107900,34
11,East Renfrewshire,S12000011,3050,96060,31
12,Falkirk,S12000014,4710,160560,29
13,Fife,S12000047,11890,374130,31
14,Glasgow City,S12000049,25730,635640,40
15,Highland,S12000017,13790,235430,58
16,Inverclyde,S12000018,2060,77060,26
17,Midlothian,S12000019,2995,93150,32
18,Moray,S12000020,4055,95710,42
19,Na h-Eileanan Siar,S12000013,1505,26500,56
20,North Ayrshire,S12000021,4160,134250,30
21,North Lanarkshire,S12000050,10170,341140,29
22,Orkney Islands,S12000023,1740,22400,77
23,Perth and Kinross,S12000048,7275,151910,47
24,Renfrewshire,S12000038,6235,179390,34
25,Scottish Borders,S12000026,5980,115240,51
26,Shetland Islands,S12000027,1890,22870,82
27,South Ayrshire,S12000028,4455,112140,39
28,South Lanarkshire,S12000029,11245,320820,35
29,Stirling,S12000030,4805,94080,51
30,West Dunbartonshire,S12000039,2570,88340,29
31,West Lothian,S12000040,5955,183820,32

In [97]:
# simd - generalise to LA on all domains
simd = pd.read_csv("../data/scotland/SIMD_2020.csv")
dz_lookup = pd.read_csv("../data/scotland/2011_dz_lookup.csv")
simd_decile = simd.loc[simd["Units"] == "Decile"].copy()

# creating a dataframe for each domain
domains = simd_decile['SIMD Domain'].unique()

def create_domain_df(units_df):
    dfs = []
    for domain in domains:
        df = units_df.loc[simd["SIMD Domain"] == domain].copy()
        df = df.merge(dz_lookup, left_on="FeatureCode", right_on="DZ2011_Code")
        df = df.groupby('LA_Name')['Value'].mean().reset_index()
        df["Value"] = df["Value"].round().astype(int)
        df.rename(columns={"Value": f"{domain} decile"}, inplace=True)
        dfs.append(df)

    return dfs

domain_dfs = create_domain_df(simd_decile) 

simd_simd = domain_dfs[0]
simd_access = domain_dfs[1]
simd_health = domain_dfs[2]   
simd_crime = domain_dfs[3]   
simd_edu = domain_dfs[4]   
simd_employment = domain_dfs[5]   
simd_housing = domain_dfs[6]   
simd_income = domain_dfs[7]   

named_domain_dfs = [simd_simd, simd_access, simd_health, simd_crime, simd_edu, simd_employment, simd_housing, simd_income]
merging_dfs = [df.set_index('LA_Name') for df in named_domain_dfs]
simd_la = pd.concat(merging_dfs, axis=1).reset_index()
simd_la

,LA_Name,SIMD decile,Access To Services decile,Health decile,Crime decile,Education Skills And Training decile,Employment decile,Housing decile,Income decile
0,Aberdeen City,7,7,7,5,6,6,5,7
1,Aberdeenshire,7,4,8,7,7,7,7,7
2,Angus,6,5,6,6,6,6,7,6
3,Argyll and Bute,6,4,6,7,6,6,5,6
4,City of Edinburgh,7,7,7,5,7,7,4,7
5,Clackmannanshire,5,5,5,5,5,5,6,5
6,Dumfries and Galloway,5,5,6,6,6,6,7,5
7,Dundee City,4,7,4,5,4,4,4,4
8,East Ayrshire,4,4,4,5,5,5,6,5
9,East Dunbartonshire,7,5,7,7,8,7,7,7
10,East Lothian,6,5,7,6,6,6,6,6
11,East Renfrewshire,8,6,7,7,9,7,7,7
12,Falkirk,5,5,5,5,5,5,7,5
13,Fife,6,5,6,6,5,5,7,6
14,Glasgow City,4,7,4,4,4,4,2,4
15,Highland,6,4,6,6,6,6,6,6
16,Inverclyde,4,6,4,5,5,4,4,4
17,Midlothian,5,5,5,5,5,5,6,6
18,Moray,6,5,7,6,6,6,7,6
19,Na h-Eileanan Siar,5,2,6,8,7,6,7,6
20,North Ayrshire,4,5,4,6,5,4,6,4
21,North Lanarkshire,4,5,4,5,4,4,5,4
22,Orkney Islands,6,4,7,8,6,7,6,7
23,Perth and Kinross,7,4,7,7,6,7,6,7
24,Renfrewshire,5,6,5,6,6,5,5,5
25,Scottish Borders,6,5,6,6,6,6,7,6
26,Shetland Islands,6,3,7,7,7,7,6,7
27,South Ayrshire,5,5,5,6,6,5,7,5
28,South Lanarkshire,5,6,5,6,5,5,6,5
29,Stirling,6,5,7,6,7,7,7,7
30,West Dunbartonshire,4,5,4,5,4,4,4,4
31,West Lothian,6,5,5,5,5,5,6,6

In [98]:
charities = pd.read_csv("../data/scotland/local_charities_final.csv")
postcodes = pd.read_csv("../data/scotland/postcode_lookup.csv", low_memory=False)
postcodes.drop_duplicates(subset="Postcode", inplace=True)

char_pc = pd.merge(charities, postcodes, left_on="Postcode", right_on="Postcode", how="left")
char_pc_la = pd.merge(char_pc, dz_lookup, left_on="DataZone2011Code", right_on="DZ2011_Code", how="left")

char_pc_la = char_pc_la.replace(to_replace="Perth & Kinross", value="Perth and Kinross")
char_pc_la = char_pc_la.replace(to_replace="Aberdeen", value="Aberdeen City")
char_pc_la = char_pc_la.replace(to_replace="Argyll & Bute", value="Argyll and Bute")
char_pc_la = char_pc_la.replace(to_replace="Dumfries & Galloway", value="Dumfries and Galloway")
char_pc_la = char_pc_la.replace(to_replace="Western Isles", value="Na h-Eileanan Siar")

char_pc_la = char_pc_la.loc[(char_pc_la['LA_Name'] == char_pc_la['Main Operating Location']) | (char_pc_la['LA_Name'].isna())].copy()
char_pc_la.drop(columns="LA_Name", inplace=True)
char_pc_la.rename(columns={"Main Operating Location": "LA_Name"}, inplace=True)

char_num_by_la = char_pc_la.groupby("LA_Name")['Charity Number'].count().reset_index()
char_num_by_la

# get per 1000 population
char_per_1000 = pd.merge(char_num_by_la, pop_est, left_on="LA_Name", right_on="Area name")
char_per_1000.rename(columns={"Charity Number": "Number of charities"}, inplace=True)
char_per_1000["All ages"] = char_per_1000["All ages"].str.replace(",", "").astype(int)
char_per_1000["Charities per 1000 people"] = ((char_per_1000["Number of charities"] / char_per_1000["All ages"]) * 1000).astype(int)

char_la = char_per_1000.loc[:, ["LA_Name", "Area code", "Number of charities", "All ages", "Charities per 1000 people"]].copy()

# merging what I have
la_info = businesses_la.merge(simd_la, left_on="Local authority", right_on="LA_Name")
la_info = la_info.merge(char_la, left_on="LA_Name", right_on="LA_Name")
la_info = la_info.loc[:, ["Local authority", "Number of businesses", "Businesses per 1000 people", "Number of charities", "Charities per 1000 people", "SIMD decile"]].copy()
#  "Access To Services decile", "Health decile", "Crime decile", "Education Skills And Training decile", "Employment decile", "Housing decile", "Income decile"

la_info
# la_info.to_csv("../data/scotland/la_info_part_done.csv", index=False)

,Local authority,Number of businesses,Businesses per 1000 people,Number of charities,Charities per 1000 people,SIMD decile
0,Aberdeen City,11140,48,354,1,7
1,Aberdeenshire,15355,58,1004,3,7
2,Angus,4640,40,390,3,6
3,Argyll and Bute,4820,56,636,7,6
4,City of Edinburgh,23875,45,1025,1,7
5,Clackmannanshire,1360,26,124,2,5
6,Dumfries and Galloway,7550,50,671,4,5
7,Dundee City,4830,32,247,1,4
8,East Ayrshire,4080,33,228,1,4
9,East Dunbartonshire,3415,31,160,1,7
10,East Lothian,3745,34,299,2,6
11,East Renfrewshire,3050,31,137,1,8
12,Falkirk,4710,29,213,1,5
13,Fife,11890,31,936,2,6
14,Glasgow City,25730,40,915,1,4
15,Highland,13790,58,1392,5,6
16,Inverclyde,2060,26,141,1,4
17,Midlothian,2995,32,207,2,5
18,Moray,4055,42,365,3,6
19,Na h-Eileanan Siar,1505,56,268,10,5
20,North Ayrshire,4160,30,273,2,4
21,North Lanarkshire,10170,29,377,1,4
22,Orkney Islands,1740,77,226,10,6
23,Perth and Kinross,7275,47,558,3,7
24,Renfrewshire,6235,34,246,1,5
25,Scottish Borders,5980,51,609,5,6
26,Shetland Islands,1890,82,239,10,6
27,South Ayrshire,4455,39,230,2,5
28,South Lanarkshire,11245,35,438,1,5
29,Stirling,4805,51,288,3,6
30,West Dunbartonshire,2570,29,145,1,4
31,West Lothian,5955,32,338,1,6

In [99]:
# ccch number and per 1000 people for each LA 
ccch_aberdeen_city = pd.read_csv("../data/aberdeen_city/ccch_aberdeen_city.csv")
ccch_aberdeenshire = pd.read_csv("../data/aberdeenshire/ccch_aberdeenshire.csv")
ccch_angus = pd.read_csv("../data/angus/ccch_angus.csv")
ccch_argyll_and_bute = pd.read_csv("../data/argyll_and_bute/ccch_argyll_and_bute.csv")
ccch_city_of_edinburgh = pd.read_csv("../data/city_of_edinburgh/ccch_city_of_edinburgh.csv")
ccch_clackmannanshire = pd.read_csv("../data/clackmannanshire/ccch_clackmannanshire.csv")
ccch_dumfries_and_galloway = pd.read_csv("../data/dumfries_and_galloway/ccch_dumfries_and_galloway.csv")
ccch_dundee_city = pd.read_csv("../data/dundee_city/ccch_dundee_city.csv")
ccch_east_ayrshire = pd.read_csv("../data/east_ayrshire/ccch_east_ayrshire.csv")
ccch_east_dunbartonshire = pd.read_csv("../data/east_dunbartonshire/ccch_east_dunbartonshire.csv")
ccch_east_lothian = pd.read_csv("../data/east_lothian/ccch_east_lothian.csv")
ccch_east_renfrewshire = pd.read_csv("../data/east_renfrewshire/ccch_east_renfrewshire.csv")
ccch_falkirk = pd.read_csv("../data/falkirk/ccch_falkirk.csv")
ccch_fife = pd.read_csv("../data/fife/ccch_fife.csv")
ccch_glasgow_city = pd.read_csv("../data/glasgow_city/ccch_glasgow_city.csv")
ccch_highland = pd.read_csv("../data/highland/ccch_highland.csv")
ccch_inverclyde = pd.read_csv("../data/inverclyde/ccch_inverclyde.csv")
ccch_moray = pd.read_csv("../data/moray/ccch_moray.csv")
ccch_midlothian = pd.read_csv("../data/midlothian/ccch_midlothian.csv")
ccch_na_h_eileanan_siar = pd.read_csv("../data/na_h-eileanan_siar/ccch_na_h-eileanan_siar.csv")
ccch_north_ayrshire = pd.read_csv("../data/north_ayrshire/ccch_north_ayrshire.csv")
ccch_north_lanarkshire = pd.read_csv("../data/north_lanarkshire/ccch_north_lanarkshire.csv")
ccch_orkney_islands = pd.read_csv("../data/orkney_islands/ccch_orkney_islands.csv")
ccch_perth_and_kinross = pd.read_csv("../data/perth_and_kinross/ccch_perth_and_kinross.csv")
ccch_renfrewshire = pd.read_csv("../data/renfrewshire/ccch_renfrewshire.csv")
ccch_scottish_borders = pd.read_csv("../data/scottish_borders/ccch_scottish_borders.csv")
ccch_shetland_islands = pd.read_csv("../data/shetland_islands/ccch_shetland_islands.csv")
ccch_south_ayrshire = pd.read_csv("../data/south_ayrshire/ccch_south_ayrshire.csv")
ccch_south_lanarkshire = pd.read_csv("../data/south_lanarkshire/ccch_south_lanarkshire.csv")
ccch_stirling = pd.read_csv("../data/stirling/ccch_stirling.csv")
ccch_west_dunbartonshire = pd.read_csv("../data/west_dunbartonshire/ccch_west_dunbartonshire.csv")
ccch_west_lothian = pd.read_csv("../data/west_lothian/ccch_west_lothian.csv")


names_list = ["Aberdeen City", "Aberdeenshire", "Angus", "Argyll and Bute", "City of Edinburgh", "Clackmannanshire", "Dumfries and Galloway", "Dundee City", "East Ayrshire", "East Dunbartonshire", "East Lothian", "East Renfrewshire", "Falkirk", "Fife", "Glasgow City", "Highland", "Inverclyde", "Midlothian", "Moray", "Na h-Eileanan Siar", "North Ayrshire", "North Lanarkshire", "Orkney Islands", "Perth and Kinross", "Renfrewshire", "Scottish Borders", "Shetland Islands", "South Ayrshire", "South Lanarkshire", "Stirling", "West Dunbartonshire", "West Lothian"]
ccch_list = [ccch_aberdeen_city, ccch_aberdeenshire, ccch_angus, ccch_argyll_and_bute, ccch_city_of_edinburgh, ccch_clackmannanshire, ccch_dumfries_and_galloway, ccch_dundee_city, ccch_east_ayrshire, ccch_east_dunbartonshire, ccch_east_lothian, ccch_east_renfrewshire, ccch_falkirk, ccch_fife, ccch_glasgow_city, ccch_highland, ccch_inverclyde, ccch_midlothian, ccch_moray, ccch_na_h_eileanan_siar, ccch_north_ayrshire, ccch_north_lanarkshire, ccch_orkney_islands, ccch_perth_and_kinross, ccch_renfrewshire, ccch_scottish_borders, ccch_shetland_islands, ccch_south_ayrshire, ccch_south_lanarkshire, ccch_stirling, ccch_west_dunbartonshire, ccch_west_lothian]
fixed_ccch_list = []


def fix_ccch_df(ccch_df, i):
    ccch_df = ccch_df.loc[:, ["name", "postcode"]].copy()
    ccch_df.rename(columns={"name": "Name", "postcode": "Postcode"}, inplace=True)
    ccch_df["Local authority"] = names_list[i]
    fixed_ccch_list.append(ccch_df)
    return fixed_ccch_list


for x, ccch in enumerate(ccch_list):
    fix_ccch_df(ccch, x)
    

ccch_all = pd.concat(fixed_ccch_list)
ccch_all

ccch_num_by_la = ccch_all.groupby("Local authority")["Name"].count().reset_index()

ccch_per_1000 = pd.merge(ccch_num_by_la, pop_est, left_on="Local authority", right_on="Area name")
ccch_per_1000.rename(columns={"Name": "Number of community spaces"}, inplace=True)
ccch_per_1000["All ages"] = ccch_per_1000["All ages"].str.replace(",", "").astype(int)
ccch_per_1000["Community spaces per 1000 people"] = ((ccch_per_1000["Number of community spaces"] / char_per_1000["All ages"]) * 1000).astype(float).round(1)

ccch_per_1000 = ccch_per_1000.loc[:, ["Local authority", "Number of community spaces", "Community spaces per 1000 people"]].copy()
ccch_per_1000

,Local authority,Number of community spaces,Community spaces per 1000 people
0,Aberdeen City,86,0.4
1,Aberdeenshire,162,0.6
2,Angus,63,0.5
3,Argyll and Bute,105,1.2
4,City of Edinburgh,158,0.3
5,Clackmannanshire,46,0.9
6,Dumfries and Galloway,128,0.9
7,Dundee City,70,0.5
8,East Ayrshire,63,0.5
9,East Dunbartonshire,43,0.4
10,East Lothian,71,0.7
11,East Renfrewshire,48,0.5
12,Falkirk,68,0.4
13,Fife,209,0.6
14,Glasgow City,205,0.3
15,Highland,145,0.6
16,Inverclyde,57,0.7
17,Midlothian,97,1.0
18,Moray,80,0.8
19,Na h-Eileanan Siar,48,1.8
20,North Ayrshire,77,0.6
21,North Lanarkshire,112,0.3
22,Orkney Islands,26,1.2
23,Perth and Kinross,63,0.4
24,Renfrewshire,82,0.5
25,Scottish Borders,113,1.0
26,Shetland Islands,74,3.2
27,South Ayrshire,55,0.5
28,South Lanarkshire,132,0.4
29,Stirling,53,0.6
30,West Dunbartonshire,36,0.4
31,West Lothian,82,0.4

In [100]:
# maos per 100k people for each LA
maos = pd.read_csv("../data/scotland/maos.csv")
maos = maos.merge(postcodes, left_on="postcode", right_on="Postcode")
maos_la = pd.merge(maos, dz_lookup, left_on="DataZone2011Code", right_on="DZ2011_Code", how="left")
maos_la = maos_la.loc[:, ["name", "postcode", "LA_Name"]].copy()

maos_la = maos_la.rename(columns={"LA_Name": "Local authority"})

maos_by_la = maos_la.groupby("Local authority")['name'].count().reset_index()

maos_per_100k = pd.merge(maos_by_la, pop_est, left_on="Local authority", right_on="Area name", how="right")
maos_per_100k.rename(columns={"name": "Number of MAOs"}, inplace=True)
maos_per_100k["All ages"] = maos_per_100k["All ages"].str.replace(",", "").astype(int)
maos_per_100k["MAOs per 100k people"] = ((maos_per_100k["Number of MAOs"] / maos_per_100k["All ages"]) * 100000).astype(float).round(1)

maos_per_100k = maos_per_100k.loc[:, ["Area name", "Number of MAOs", "MAOs per 100k people"]].copy()
maos_per_100k.rename(columns={"Area name": "Local authority"}, inplace=True)
maos_per_100k = maos_per_100k.fillna(0.0)
maos_per_100k

          Local authority  Number of MAOs  MAOs per 100k people
0           Aberdeen City             1.0                   0.4
1           Aberdeenshire            18.0                   6.9
2                   Angus             5.0                   4.3
3         Argyll and Bute             4.0                   4.7
4       City of Edinburgh            33.0                   6.3
5        Clackmannanshire             1.0                   1.9
6   Dumfries and Galloway            21.0                  14.2
7             Dundee City             2.0                   1.3
8           East Ayrshire             6.0                   4.9
9     East Dunbartonshire             3.0                   2.8
10           East Lothian             8.0                   7.4
11      East Renfrewshire             8.0                   8.3
12                Falkirk             5.0                   3.1
13                   Fife            19.0                   5.1
14           Glasgow City            22.0                   3.5
15               Highland            19.0                   8.1
16             Inverclyde             1.0                   1.3
17             Midlothian             3.0                   3.2
18                  Moray            10.0                  10.4
19     Na h-Eileanan Siar             0.0                   0.0
20         North Ayrshire            12.0                   8.9
21      North Lanarkshire             4.0                   1.2
22         Orkney Islands             1.0                   4.5
23      Perth and Kinross            10.0                   6.6
24           Renfrewshire             8.0                   4.5
25       Scottish Borders            11.0                   9.5
26       Shetland Islands             1.0                   4.4
27         South Ayrshire             0.0                   0.0
28      South Lanarkshire            11.0                   3.4
29               Stirling            14.0                  14.9
30    West Dunbartonshire             0.0                   0.0
31           West Lothian             0.0                   0.0

In [101]:
# shs percentage for the LA
shs = pd.read_csv("../data/scotland/SHS Data Explorer.csv")
shs = shs.loc[:, ["Council", "All"]].copy()
shs.rename(columns={"All": "I could rely on someone in my neighbourhood to help me (%)"}, inplace=True)
shs.drop(shs[shs["Council"] == "Scotland"].index, inplace=True)

shs["Council"].at[11] = "City of Edinburgh"
shs.at[19, "Council"] = "Na h-Eileanan Siar"
shs = shs.sort_values("Council").reset_index(drop=True)
shs

,Council,I could rely on someone in my neighbourhood to help me (%)
0,Aberdeen City,71.5
1,Aberdeenshire,88.3
2,Angus,79.0
3,Argyll and Bute,92.2
4,City of Edinburgh,82.0
5,Clackmannanshire,85.1
6,Dumfries and Galloway,90.7
7,Dundee City,83.1
8,East Ayrshire,75.3
9,East Dunbartonshire,88.3
10,East Lothian,88.3
11,East Renfrewshire,93.0
12,Falkirk,91.4
13,Fife,87.9
14,Glasgow City,81.7
15,Highland,88.1
16,Inverclyde,93.0
17,Midlothian,85.1
18,Moray,91.2
19,Na h-Eileanan Siar,92.1
20,North Ayrshire,85.4
21,North Lanarkshire,88.6
22,Orkney Islands,92.8
23,Perth and Kinross,91.5
24,Renfrewshire,89.2
25,Scottish Borders,90.7
26,Shetland Islands,95.6
27,South Ayrshire,48.0
28,South Lanarkshire,90.4
29,Stirling,91.6
30,West Dunbartonshire,85.0
31,West Lothian,89.9

In [102]:
dt = pd.read_csv("../data/scotland/dt_complete.csv")
dt = dt.merge(postcodes, left_on="postcode", right_on="Postcode")
dt_la = pd.merge(dt, dz_lookup, left_on="DataZone2011Code", right_on="DZ2011_Code", how="left")
dt_la = dt_la.loc[:, ["name", "postcode", "LA_Name"]].copy()

dt_la = dt_la.rename(columns={"LA_Name": "Local authority"})

dt_by_la = dt_la.groupby("Local authority")['name'].count().reset_index()

dt_per_100k = pd.merge(dt_by_la, pop_est, left_on="Local authority", right_on="Area name", how="right")
dt_per_100k.rename(columns={"name": "Number of development trusts"}, inplace=True)
dt_per_100k["All ages"] = dt_per_100k["All ages"].str.replace(",", "").astype(int)
dt_per_100k["Development trusts per 100k people"] = ((dt_per_100k["Number of development trusts"] / dt_per_100k["All ages"]) * 100000).astype(float).round(1)

dt_per_100k = dt_per_100k.loc[:, ["Area name", "Number of development trusts", "Development trusts per 100k people"]].copy()
dt_per_100k.rename(columns={"Area name": "Local authority"}, inplace=True)
dt_per_100k = dt_per_100k.fillna(0.0)
dt_per_100k

,Local authority,Number of development trusts,Development trusts per 100k people
0,Aberdeen City,2.0,0.9
1,Aberdeenshire,13.0,5.0
2,Angus,1.0,0.9
3,Argyll and Bute,33.0,38.6
4,City of Edinburgh,10.0,1.9
5,Clackmannanshire,4.0,7.8
6,Dumfries and Galloway,20.0,13.5
7,Dundee City,0.0,0.0
8,East Ayrshire,8.0,6.6
9,East Dunbartonshire,4.0,3.7
10,East Lothian,1.0,0.9
11,East Renfrewshire,2.0,2.1
12,Falkirk,0.0,0.0
13,Fife,16.0,4.3
14,Glasgow City,20.0,3.1
15,Highland,55.0,23.4
16,Inverclyde,1.0,1.3
17,Midlothian,5.0,5.4
18,Moray,11.0,11.5
19,Na h-Eileanan Siar,14.0,52.8
20,North Ayrshire,4.0,3.0
21,North Lanarkshire,4.0,1.2
22,Orkney Islands,8.0,35.7
23,Perth and Kinross,12.0,7.9
24,Renfrewshire,6.0,3.3
25,Scottish Borders,14.0,12.1
26,Shetland Islands,4.0,17.5
27,South Ayrshire,5.0,4.5
28,South Lanarkshire,6.0,1.9
29,Stirling,14.0,14.9
30,West Dunbartonshire,4.0,4.5
31,West Lothian,7.0,3.8

In [103]:
# life expectancy, male and female avg for each LA
le = pd.read_csv("../data/scotland/scotpho_data_extract.csv")
female_le = le.loc[(le['indicator'] == "Life expectancy, females") & (le['area_type'] == "Council area") & (le['period'] == '2017 to 2019 (3 year aggregate)')].copy()
female_le = female_le.loc[:, ["area_name", "measure"]].copy()
female_le.rename(columns={"measure": "Female life expectancy"}, inplace=True)
female_le['Female life excpectancy'] = female_le['Female life expectancy'].apply(lambda x: round(x))
   
male_le = le.loc[(le['indicator'] == "Life expectancy, males") & (le['area_type'] == "Council area") & (le['period'] == '2017 to 2019 (3 year aggregate)')].copy()
male_le = male_le.loc[:, ["area_name", "measure"]].copy()
male_le.rename(columns={"measure": "Male life expectancy"}, inplace=True)
male_le['Male life expectancy'] = male_le['Male life expectancy'].apply(lambda x: round(x))

le = female_le.merge(male_le, left_on="area_name", right_on="area_name")
le.at[1, "area_name"] = "Dumfries and Galloway"
le.at[20, "area_name"] = "Argyll and Bute"
le.at[29, "area_name"] = "Perth and Kinross"
# le.at[1, "area_name"] = "Dumfries and Galloway"
le

,area_name,Female life expectancy,Female life excpectancy,Male life expectancy
0,Clackmannanshire,80.70,81,77
1,Dumfries and Galloway,81.44,81,78
2,East Ayrshire,79.81,80,76
3,East Lothian,82.72,83,79
4,East Renfrewshire,83.96,84,80
5,Na h-Eileanan Siar,83.39,83,78
6,Falkirk,80.46,80,77
7,Highland,81.91,82,78
8,Inverclyde,79.01,79,75
9,Midlothian,81.50,82,78
10,Moray,81.47,81,79
11,North Ayrshire,79.98,80,76
12,Orkney Islands,82.26,82,79
13,Scottish Borders,81.93,82,79
14,Shetland Islands,83.21,83,80
15,South Ayrshire,81.64,82,77
16,South Lanarkshire,81.06,81,77
17,Stirling,82.56,83,78
18,Aberdeen City,81.40,81,77
19,Aberdeenshire,82.52,83,79
20,Argyll and Bute,81.69,82,78
21,City of Edinburgh,82.50,82,78
22,Renfrewshire,80.70,81,76
23,West Dunbartonshire,79.21,79,75
24,West Lothian,80.97,81,78
25,Angus,82.26,82,78
26,Dundee City,79.48,79,74
27,East Dunbartonshire,83.65,84,81
28,Fife,81.15,81,77
29,Perth and Kinross,83.26,83,79
30,Glasgow City,78.50,78,74
31,North Lanarkshire,79.60,80,75

In [104]:
la_info = pd.merge(la_info, ccch_per_1000, left_on="Local authority", right_on="Local authority")
la_info = la_info.merge(shs, left_on="Local authority", right_on="Council")
la_info.drop(columns="Council", inplace=True)
la_info = pd.merge(la_info, maos_per_100k, left_on="Local authority", right_on="Local authority", how="left")
la_info = pd.merge(la_info, le, left_on="Local authority", right_on="area_name")
la_info = pd.merge(la_info, dt_per_100k, left_on="Local authority", right_on="Local authority")

In [105]:
la_info_complete = la_info.copy()
la_info_complete = la_info_complete.fillna(0)

la_info_complete = la_info_complete.loc[:, ["Local authority", "SIMD decile", "Female life expectancy", "Male life expectancy", "Number of businesses", "Number of charities", "Number of community spaces", "Number of MAOs", "Number of development trusts", "Businesses per 1000 people", "Charities per 1000 people", "Community spaces per 1000 people", "MAOs per 100k people", "I could rely on someone in my neighbourhood to help me (%)", "Devel"]].copy()

In [106]:
# la_info_complete.to_csv("../data/scotland/la_info.csv", index=False)

In [107]:
la_info_complete

,Local authority,SIMD decile,Female life expectancy,Male life expectancy,Number of businesses,Number of charities,Number of community spaces,Number of MAOs,Businesses per 1000 people,Charities per 1000 people,Community spaces per 1000 people,MAOs per 100k people,I could rely on someone in my neighbourhood to help me (%)
0,Aberdeen City,7,81.40,77,11140,354,86,1.0,48,1,0.4,0.4,71.5
1,Aberdeenshire,7,82.52,79,15355,1004,162,18.0,58,3,0.6,6.9,88.3
2,Angus,6,82.26,78,4640,390,63,5.0,40,3,0.5,4.3,79.0
3,Argyll and Bute,6,81.69,78,4820,636,105,4.0,56,7,1.2,4.7,92.2
4,City of Edinburgh,7,82.50,78,23875,1025,158,33.0,45,1,0.3,6.3,82.0
5,Clackmannanshire,5,80.70,77,1360,124,46,1.0,26,2,0.9,1.9,85.1
6,Dumfries and Galloway,5,81.44,78,7550,671,128,21.0,50,4,0.9,14.2,90.7
7,Dundee City,4,79.48,74,4830,247,70,2.0,32,1,0.5,1.3,83.1
8,East Ayrshire,4,79.81,76,4080,228,63,6.0,33,1,0.5,4.9,75.3
9,East Dunbartonshire,7,83.65,81,3415,160,43,3.0,31,1,0.4,2.8,88.3
10,East Lothian,6,82.72,79,3745,299,71,8.0,34,2,0.7,7.4,88.3
11,East Renfrewshire,8,83.96,80,3050,137,48,8.0,31,1,0.5,8.3,93.0
12,Falkirk,5,80.46,77,4710,213,68,5.0,29,1,0.4,3.1,91.4
13,Fife,6,81.15,77,11890,936,209,19.0,31,2,0.6,5.1,87.9
14,Glasgow City,4,78.50,74,25730,915,205,22.0,40,1,0.3,3.5,81.7
15,Highland,6,81.91,78,13790,1392,145,19.0,58,5,0.6,8.1,88.1
16,Inverclyde,4,79.01,75,2060,141,57,1.0,26,1,0.7,1.3,93.0
17,Midlothian,5,81.50,78,2995,207,97,3.0,32,2,1.0,3.2,85.1
18,Moray,6,81.47,79,4055,365,80,10.0,42,3,0.8,10.4,91.2
19,Na h-Eileanan Siar,5,83.39,78,1505,268,48,0.0,56,10,1.8,0.0,92.1
20,North Ayrshire,4,79.98,76,4160,273,77,12.0,30,2,0.6,8.9,85.4
21,North Lanarkshire,4,79.60,75,10170,377,112,4.0,29,1,0.3,1.2,88.6
22,Orkney Islands,6,82.26,79,1740,226,26,1.0,77,10,1.2,4.5,92.8
23,Perth and Kinross,7,83.26,79,7275,558,63,10.0,47,3,0.4,6.6,91.5
24,Renfrewshire,5,80.70,76,6235,246,82,8.0,34,1,0.5,4.5,89.2
25,Scottish Borders,6,81.93,79,5980,609,113,11.0,51,5,1.0,9.5,90.7
26,Shetland Islands,6,83.21,80,1890,239,74,1.0,82,10,3.2,4.4,95.6
27,South Ayrshire,5,81.64,77,4455,230,55,0.0,39,2,0.5,0.0,48.0
28,South Lanarkshire,5,81.06,77,11245,438,132,11.0,35,1,0.4,3.4,90.4
29,Stirling,6,82.56,78,4805,288,53,14.0,51,3,0.6,14.9,91.6
30,West Dunbartonshire,4,79.21,75,2570,145,36,0.0,29,1,0.4,0.0,85.0
31,West Lothian,6,80.97,78,5955,338,82,0.0,32,1,0.4,0.0,89.9